{% extends 'template.html' %}

{% block content %}

<main class="container">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <h1 class="text-center m-4">{{exercise.original_code}}</h1>
                <form method="post" class="card card-body rounded-4 shadow-sm">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="username" class="form-label">Code or Message</label>
                        <input required type="text" class="form-control rounded-4" id="username" aria-describedby="original_code" value="{{exercise.original_code}}" name="original_code">
                      </div>
                      <p class="text-danger text-center"><small>{{error}}</small></p>
                      <button type="submit" class="btn btn-primary rounded-pill">Encrypt</button>
                      <a href="/exercise/" class="btn btn-outline-secondary rounded-pill m-2">Back</a>
                </form>
            </div>
        </div>
</main>

{% endblock %}