{% extends 'template.html' %}

{% block content %}

<main class="container align-items-center">
    <h1 class="text-center py-4 text-secondary">LIST OF EXERCISES</h1>

    {%  if exercises|length <= 0 %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill start"></i>
       <strong>Sorry!!!</strong> No data yet
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <ul>
        {% for exercise in exercises %}
        <div class="d-block">
            <div class=" card mb-3 w-auto">
                <div class="card-body">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <a href="{% url 'exe_detail' exercise.id %}" class="text-secondary">
                            <h3>
                                {{exercise.original_code}}
                            </h3>
                            <div class="fw-bold">{{exercise.hash_code}}</div>
                            <span class="badge text-bg-light rounded-pill m-2">{{exercise.created}}</span>
                            <span class="badge text-bg-primary rounded-pill">By - {{exercise.user}}</span>
                        </a>
                    </li>
                </div>
           </div>
        </div>

        {% endfor %}
    </ul>
</main>


{% endblock %}