{% extends 'template.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body shadow-lg">
        <h1 class="text-center">HOME VIEW</h1>
    </section>
</main>

{% endblock %}