{% extends 'template.html' %}

{% block content %}
<main class="container">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <h1 class="text-center m-4">New exercise</h1>
                <form action="/exercise/new" method="post" class="card card-body rounded-4 shadow-sm">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="username" class="form-label">Code or Message</label>
                        <input required type="text" class="form-control rounded-4" id="username" aria-describedby="username" name="original_code">
                      </div>
                      <p class="text-danger text-center"><small>{{error}}</small></p>
                      <button type="submit" class="btn btn-primary rounded-pill">Encrypt</button>
                </form>
            </div>
        </div>
</main>
{% endblock %}