{% extends 'template.html' %}

{% block content %}
{{ error }}

<main class="container">
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <h1 class="text-center m-4">Sign up</h1>
            <form action="" method="post" class="card card-body rounded-4 shadow-sm">
                {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input required type="text" class="form-control rounded-4" id="username" aria-describedby="username" name="username">
                  </div>
                  <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input required type="password" class="form-control rounded-4" id="password1" name="password1">
                  </div>
                  <div class="mb-3">
                    <label for="password2" class="form-label">Confirm your password</label>
                    <input required type="password" class="form-control rounded-4" id="password2" name="password2">
                  </div>
                  <p class="text-danger text-center"><small>{{error}}</small></p>
                  <button type="submit" class="btn btn-primary rounded-pill">Sign up</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}