<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'exercise/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'exercise_icons/bootstrap-icons.css' %}">
    <title>Hash functions</title>
</head>
<body>

    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Django Funciones Hash</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li  class="nav-item">
                    <a class="nav-link active m-2" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-link m-2" href="/exercise">Ejercicios</a>
                </li>
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link m-2" href="/exercise/new">Nuevo ejercicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2" href="/upload">Cargar</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger m-1 rounded-5" href="/logout"><i class="bi bi-box-arrow-right"></i></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a  class="btn btn-info m-2 rounded-pill" href="/signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a  class="btn btn-outline-light m-2 rounded-pill" href="/login"><i class="bi bi-person-fill"></i> Login</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="{% static 'exercise/js/bootstrap.js' %}"></script>
</body>
</html>