{% extends 'template.html' %}

{% block content %}


<main class="container">
        <div class="row mb-4">
            <div class="col-md-3 offset-md-1">
                <h1 class="text-center m-4">Upload file</h1>
                <form action="{% url 'upload' %}" method="post" class="card card-body rounded-4 shadow-sm" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="username" class="form-label">Name or title</label>
                        <input required type="text" class="form-control rounded-4" id="fileTitle" aria-describedby="fileTitle" name="fileTitle">
                      </div>
                      <div class="mb-3">
                        <label for="File" class="form-label">Select your file</label>
                        <input required type="file" class="form-control rounded-4" id="uploadedFile" aria-describedby="uploadedFile" name="uploadedFile">
                      </div>
                      <button type="submit" class="btn btn-primary rounded-pill">Upload</button>
                </form>
            </div>
            <div class="col-md-6 md-4 mt-1">
                <h1 class="text-center m-4">Table of files</h1>
                <div class="table-responsive ms-6 card">
                    <table class="table ">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>File Path</th>
                        </tr>
                        {% for file in files %}
                            <tr>
                                <td>{{ file.id }}</td>
                                <td>{{ file.title }}</td>
                                <td>{{ file.uploadedFile.url }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
</main>
    

{% endblock %}